header{
    height:75px;
    background-color:#ff742b;
    width:100%;
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: space-around;
  }
  .news{
    display: flex;
  }
  .news h1{
    align-self: center;
  }
  .input-title{
    display: flex;
    width:50%;
    height:40px;
    box-sizing: border-box;
  }
  
  .input-title{
    display: flex;
    align-self: center;
    background: url(https://img.icons8.com/ios/50/000000/search--v1.png) no-repeat scroll 5px 5px;
    background-size: 30px 30px;
    padding-left:40px;
    outline:none;
    font-size: 20px;
    font-family: 'Acme', sans-serif;
  }
  
  .input-title::placeholder{
    font-style:italic;
    font-size: 20px;
  }
  
  .settings{
    display: flex;
  }
  
  .settings h3{
    align-self: center;
    margin-left: 10px;
  }

