.news-details{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
}

.news__details{
    background:rgb(246, 246, 239) ;
    padding:10px;
    line-height: 1.1rem;
    width:60%;
    height:100vh;
    margin: 10px auto;
}